/log
/server/config.yaml
/indexer/config.yaml
/indexer/log
/indexer/processor/log
/indexer/processor/config.yaml
/server/conf.yaml
/server/log
/server/api/config.yaml
/server/server
/indexer/indexer
/helper/aws_test.go
/config/testnet/
/config/mainnet/